/* Importing Fonts */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto');

/* Css Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

h1, h2, h3, h4 {
  font-family: 'Playfair+Display', sans-serif;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 1rem;
  overflow: hidden;
}

/* padding */
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}


/* Section: Header */
#main-header {
  background: url('../img/home-banner.png') no-repeat center center/cover;
  height: 90vh;
  color: #fff;
}

/* Navigation */
#main-navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

#main-navbar #logo {
  font-size: 1.5rem;
}

#main-navbar #logo a {
  transition: all 0.3s ease-in;
}

#main-navbar #logo a:hover {
  color: #333;
}

#main-navbar ul {
  display: flex;
  align-items: center;
}

#main-navbar ul li {
  padding: 0 1rem;
}

#main-navbar ul li a {
  font-size: 0.9rem;
  transition: all 0.3s ease-in;
}

#main-navbar ul li a:hover {
  color: #333;
}

/* Home Content */
.card {
  display: flex;
  height: 90vh;
  align-items: center;
}

.card .item {
  flex: 1;
}

.card .item h1 {
  font-size: 3rem;
  margin-top: 2rem;
}

.card .item h3 {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}

.card .item h4 {
  margin-top: 3rem;
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}

.card .item p {
  font-size: 1.1rem;
  margin: 0.3rem 0;
}

.card .item div {
    position: relative;
}

.card .item div #email {
  padding: 0.6rem 1.5rem;
  width: 70%;
  border: 1px solid #fff;
  border-radius: 20px;
  background: #891DFF;
  margin-bottom: 2rem;
}

::placeholder {
  color: #fff;
  opacity: 1;
}

.card .item div #email:focus {
  outline: none;
}

.card .item div .btn {
  position: absolute;
  right: 5rem;
  bottom: 1.8rem;
  align-items: center;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
  border-radius: 20px;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(to right, #F95B2C, #FAAC0B);
  transition: all 0.3s ease-in;
}

.card .item div .btn:hover {
  background: linear-gradient(to right, #FFACOB, #F95B2C);
  color: #333;
}

#featured {
  background: url('../img/bottom-border.png');
  background-repeat: round;
  height: 10vh;
  color: #fff;
}

/* Section: Mining */
#maining {
  background: #7616FF;
  color: #fff;
  height: 60vh;
}

#maining h3 {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #FAAC0B;
  text-shadow: 2px 2px #7616FF;
  transition: all 0.3s ease-in;
  margin-bottom: 0.5rem;
  text-align: center;
}

#maining h3:hover {
  transform: rotate(10deg);
}

#maining h1 {
  font-size: 2.5rem;
  transition: all 0.3s ease-in;
  text-align: center;
}

#maining h1:hover {
  transform: rotate(10deg);
}

#maining .card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: -11rem;
  grid-gap: 1rem;
  align-items: center;
}

#maining .card .items {
  text-align: center;
}

#maining .card .items i {
  background: linear-gradient(to right, #F95B2C, #FAAC0B);
  padding: 1.5rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}

#maining .card .items i:hover {
  padding: 2.5rem;
  border-radius: 50%;
  color: #333;
  background: linear-gradient(to right, #f4f4f4, #FAAC0B);
}


/* Section: Built */
#built {
  background: #A64BFF;
  color: #fff;
  height: 75vh;
}

#built .card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 1rem;
  margin-top: -5.5rem;
}

#built .card .item h3 {
  margin-bottom: -1.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: #FAAC0B;
  text-shadow: 2px 2px #7616FF;
  transition: all 0.3s ease-in;
}

#built .card .item h3:hover {
  transform: rotate(5deg);
}

#built .card .item h1 {
  line-height: 3.1rem;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}

#built .card .item p {
  margin-bottom: 3rem;
}

#built .card .item i {
  cursor: pointer;
  border: 3px solid #fff;
  padding: 1rem;
  text-align: center;
  border-radius: 60%;
  transition: all 0.3s ease-in-out;
}

#built .card .item i:hover {
  border-color: #FAAC0B;
  background: #FAAC0B;
}

/* Section: Transaction */
#transaction {
  background: #9745FF;
  color: #fff;
  position: relative;
  text-align: center;
  z-index: 1;
}

#transaction::before {
  content: '';
  position: absolute;
  background: url('../img/online_payment_.svg') no-repeat center center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
  margin-top: 1rem;
}

#transaction h4 {
  font-size: 1rem;
  text-transform: uppercase;
  text-shadow: 2px 2px #7616FF;
  transition: all 0.3s ease-in;
}

#transaction h4:hover {
  transform: rotate(5deg);
}

#transaction h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

#transaction .btn {
  background: linear-gradient(to right, #F95B2C, #FAAC0B);
  color: #fff;
  padding: 0.6rem 1.5rem;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}

#transaction .btn:hover {
  background: #fff;
  color: #333;
}

#transaction .btn-dep {
  margin-right: 0.5rem;
}

#transaction .btn-dep {
  margin-left: 0.5rem;
}

#transaction table {
  margin: auto;
  padding-top: 2rem;
}

#transaction table thead tr th {
  padding: 0.3rem 1rem;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 0.9rem;
  background: #7616FF;
  font-weight: 300;
}

#transaction table tbody tr td {
  border: 1px solid #fff;
  margin: 1rem;
  padding: 0.2rem 1rem;
  border-radius: 5px;
  background: #7616FF;
  font-size: 0.8rem;
}

/* Section: Investor */
#investor {
  background: #A64BFF;
  color: #fff;
  height: 50vh;
}

#investor .card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: -12rem;
}

#investor .card .item h4 {
  margin-bottom: -2.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: #FAAC0B;
  text-shadow: 2px 2px #7616FF;
  transition: all 0.3s ease-in;
}

#investor .card .item h4:hover {
  transform: rotate(5deg);
}

#investor .card .item h1 {
  margin-top: 2rem;
  padding-bottom: 1rem;
}

#investor .card .item img {
  width: 100px;
}
#investor .card .item img:nth-child(odd) {
  position: relative;
  top: 70px;
}

#investor .card .item img:nth-child(even) {
  position: relative;
  bottom: 40px;
}

/* Section: FAQ */
#frequently {
  background: #9745FF;
  color: #fff;
}

#frequently h5 {
  margin-top: 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: #FAAC0B;
  text-shadow: 2px 2px #7616FF;
  transition: all 0.3s ease-in;
  text-align: center;
}

#frequently h5:hover {
  transform: rotate(10deg);
  color: #fff;
}

#frequently h2 {
  text-align: center;
  margin: 0.5rem 0;
  font-size: 2.5rem;
}

#frequently .wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin: 2rem 0;
}

#frequently .wrap div {
  background: #7616FF;
  padding: 0.5rem;
  border-radius: 5px;
  position: relative;
}

#frequently .wrap div i {
  padding: 0.5rem;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: all 0.3s ease-in-out;
}

#frequently .wrap div i:hover {
  transform: rotate(180deg);
}

#frequently .wrap div p {
  position: absolute;
  font-size: 0.9rem;
  top: 8px;
  left: 60px;
}
