@media (max-width: 769px) {
  #main-header {
    background: #891DFF;
    height: 48vh;
  }

  .card {
    height: unset;
  }

  .card .item div .btn {
    right: 5rem;
  }

  /* Section: Mining */
  #maining {
    height: unset;
  }

  #maining .card {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4rem;
    align-items: center;
    grid-gap: 2rem;
    margin-bottom: 1rem;
  }

  #built {
    height: unset;
  }

  #built .card {
    margin-bottom: 0;
  }

  /* Section: Investor */
  #investor {
    height: unset;
  }

/* Section: FAQ */
  #frequently .wrap {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Section: Contact */
  #contact .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  #contact .wrapper #last {
    display: none;
  }
}
